<div class="authInfo">
    <p>Авторизация: <span class="authData"></span></p>
</div>
<br />
<div class="registerForm">
    <label>email </label><input type="email" id="email" />
    <label> пароль </label>
    <input type="password" id="password" />
    <label> Подтвердите пароль </label>
    <input type="password" id="confirmpassword" />
    <input type="submit" id="submit" value="Регистрация" />
</div>
<div class="userInfo" style="display:none;">
    <p>Вы вошли как: <span class="userName"></span></p>
    <input type="button" value="Выйти" id="logOut" />
</div>
<div class="loginForm">
    <h4>Вход на сайт</h4>
    <label>email </label>
    <input type="text" id="emailLogin" />
    <label> пароль </label>
    <input type="password" id="passwordLogin" />
    <input type="submit" id="submitLogin" value="Логин" /><br/>
</div>
<div>
    <input type="button" id="getCountriesButton" value="GET страны"/>
    <input type="button" id="getCitiesUsedClinicButton" value="GET города с клиниками"/>
    <input type="button" id="postCityButton" value="POST город" /><br />
    <input type="button" id="getClinicsButton" value="GET клиники" />
    <input type="button" id="getPageClinicsButton" value="GET page клиник" />
    <input type="button" id="getClinic3Button" value="GET клиника 3" />
    <input type="button" id="getClinicSpecializationsButton" value="GET специализации клиник" />
    <br />
    
    <input type="button" id="getPageClinicReviewsButton" value="GET page отзывы" />
    <input type="button" id="postClinicReviewButton" value="POST отзыв" />
    <br />
    fast search:<input type="text" id="fastSeachTextBox" onkeyup="fastsearch()" />
    <br />
    full search:<input type="text" id="fulltSeachTextBox" onkeyup="fullsearch()"/>
    <br />
    <div class="registerForm">
        <input type="text" id="search"/>
        <input type="submit" id="searchClinicButton" value="поиск клиник"/><br/>
    </div>
    <br/>

    @*доктора-----------------------------------------------*@
    <input type="button" id="getDoctorsButton" value="GET врачи"/>
    <input type="button" id="getPageDoctorsButton" value="GET page врачей"/>
    <input type="button" id="getDoctor3Button" value="GET врач 3"/>
    <input type="button" id="getDoctorSpecializationsButton" value="GET специализации врачей" />
</div>


@section scripts{
    <script type="text/javascript">
        function chechAuth() {
            $.ajax({
                type: 'POST',
                url: '/api/account/isauthenticated',
                beforeSend: function (xhr) {
                    var token = sessionStorage.getItem(tokenKey);
                    xhr.setRequestHeader("Authorization", "Bearer " + token);
                },
                success: function (data) {
                    if (data === true)
                        $('.authData').text("есть");
                    else
                        $('.authData').text("нет");
                },
                fail: function (data) {
                    console.log(data);
                }
            });
        }
        window.onload = function () {
            chechAuth();
        }


        function fastsearch() {
            var data = {
                Text: $('#fastSeachTextBox').val(),
                TypeId: [1, 2],
                CityId: [1]
            };

            $.ajax({
                type: 'POST',
                url: '/api/search/fastsearch',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data)
            }).success(function (data) {
                console.log(data);
            }).fail(function (data) {
                console.log("search fail");
                console.log(data);
            });
        }

        function fullsearch() {
            var data = {
                Text: $('#fulltSeachTextBox').val(),
                TypeId: [1, 2],
                CityId: [1]
            };

            $.ajax({
                type: 'POST',
                url: '/api/search/fullsearch',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data)
            }).success(function (data) {
                console.log(data);
            }).fail(function (data) {
                console.log("search fail");
                console.log(data);
            });
        }

        $(function () {
            //...........................
            $(function () {
                var tokenKey = "tokenInfo";
                //..................................
                $('#submit').click(function (e) {
                    e.preventDefault();
                    var data = {
                        Email: $('#email').val(),
                        Password: $('#password').val(),
                        ConfirmPassword: $('#confirmpassword').val()
                    };

                    var jsondata = JSON.stringify(data);

                    $.ajax({
                        type: 'POST',
                        url: '/api/Account/Register',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(data)
                    }).success(function (data) {
                        alert("Регистрация пройдена");
                    }).fail(function (data) {
                        alert("В процесе регистрации возникла ошибка");
                    });
                });

                $('#getCountriesButton').click(function (e) {
                    e.preventDefault();
                    $.ajax({
                        type: 'GET',
                        url: '/api/country/',
                        beforeSend: function (xhr) {
                            var token = sessionStorage.getItem(tokenKey);
                            xhr.setRequestHeader("Authorization", "Bearer " + token);
                        },
                        success: function (data) {
                            alert(JSON.stringify(data));
                        },
                        fail: function (data) {
                            alert(data);
                        }
                    });
                });

                $('#postCityButton').click(function (e) {
                    e.preventDefault();
                    var data = "TestCity";

                    $.ajax({
                        type: 'POST',
                        url: 'api/cities',
                        beforeSend: function (xhr) {
                            var token = sessionStorage.getItem(tokenKey);
                            xhr.setRequestHeader("Authorization", "Bearer " + token);
                        },
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(data)
                    }).success(function (data) {
                        alert("Город добавлен");
                    }).fail(function (data) {
                        alert("В процесе добавления города возникла ошибка");
                    });
                });

                $('#getClinicsButton').click(function (e) {
                    e.preventDefault();
                    $.ajax({
                        type: 'GET',
                        url: '/api/clinic/',
                        beforeSend: function (xhr) {
                            var token = sessionStorage.getItem(tokenKey);
                            xhr.setRequestHeader("Authorization", "Bearer " + token);
                        },
                        success: function (data) {
                            alert(JSON.stringify(data));
                        },
                        fail: function (data) {
                            alert(data);
                        }
                    });
                });

                $('#getPageClinicsButton').click(function (e) {
                    e.preventDefault();
                    $.ajax({
                        type: 'GET',
                        url: '/api/clinic/page/2/2',
                        success: function (data) {
                            alert(JSON.stringify(data));
                        },
                        fail: function (data) {
                            alert(data);
                        }
                    });
                });
                $('#getClinic3Button').click(function (e) {
                    e.preventDefault();
                    $.ajax({
                        type: 'GET',
                        url: '/api/clinic/3',
                        beforeSend: function (xhr) {
                            var token = sessionStorage.getItem(tokenKey);
                            xhr.setRequestHeader("Authorization", "Bearer " + token);
                        },
                        success: function (data) {
                            alert(JSON.stringify(data));
                        },
                        fail: function (data) {
                            alert(data);
                        }
                    });
                });

                $('#getClinicSpecializationsButton').click(function (e) {
                    e.preventDefault();
                    $.ajax({
                        type: 'GET',
                        url: '/api/clinicSpecialization/',
                        beforeSend: function (xhr) {
                            var token = sessionStorage.getItem(tokenKey);
                            xhr.setRequestHeader("Authorization", "Bearer " + token);
                        },
                        success: function (data) {
                            alert(JSON.stringify(data));
                        },
                        fail: function (data) {
                            alert(data);
                        }
                    });
                });
            });

            var tokenKey = "tokenInfo";
            $('#submitLogin').click(function (e) {
                e.preventDefault();
                var loginData = {
                    grant_type: 'password',
                    username: $('#emailLogin').val(),
                    password: $('#passwordLogin').val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/Token',
                    data: loginData
                }).success(function (data) {
                    $('.userName').text(data.userName);
                    $('.userInfo').css('display', 'block');
                    $('.loginForm').css('display', 'none');
                    // сохраняем в хранилище sessionStorage токен доступа
                    sessionStorage.setItem(tokenKey, data.access_token);
                    console.log(data.access_token);
                    chechAuth();
                }).fail(function (data) {
                    alert('При логине возникла ошибка');
                });
            });

            $('#getCitiesUsedClinicButton').click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'GET',
                    url: 'api/cities/clinicused',
                    beforeSend: function (xhr) {
                        var token = sessionStorage.getItem(tokenKey);
                        xhr.setRequestHeader("Authorization", "Bearer " + token);
                    },
                    success: function (data) {
                        alert(JSON.stringify(data));
                    },
                    fail: function (data) {
                        alert(data);
                    }
                });
            });
            $('#getPageClinicReviewsButton').click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'GET',
                    url: 'api/ClinicReview/page/3/2/2',
                    beforeSend: function (xhr) {
                        var token = sessionStorage.getItem(tokenKey);
                        xhr.setRequestHeader("Authorization", "Bearer " + token);
                    },
                    success: function (data) {
                        alert(JSON.stringify(data));
                    },
                    fail: function (data) {
                        alert(data);
                    }
                });
            });
            $('#postClinicReviewButton').click(function (e) {
                e.preventDefault();
                var data = {
                    "ClinicId": 3,
                    "Text": "Test",
                    "RatePrice": 3,
                    "RateQuality": 4,
                    "RatePoliteness": 3
                };

                $.ajax({
                    type: 'POST',
                    url: 'api/ClinicReview',
                    beforeSend: function (xhr) {
                        var token = sessionStorage.getItem(tokenKey);
                        xhr.setRequestHeader("Authorization", "Bearer " + token);
                    },
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data)
                }).success(function (data) {
                    alert("Отзыв добавлен");
                }).fail(function (data) {
                    alert("В процесе добавления отзыва возникла ошибка");
                });
            });
            $('#searchClinicButton').click(function (e) {
                e.preventDefault();
                var request = {
                    SearchWord: $('#search').val(),
                    CityId: 0,
                    SpecializationIds: [21,22],
                    SortBy: "price",
                    Descending: "false"
                };
                $.ajax({
                    type: 'POST',
                    url: 'api/clinic/search/10/1',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(request)
                }).success(function (data) {
                    alert(JSON.stringify(data));
                }).fail(function (data) {
                    alert(data);
                });
            });

            //доктора---------------------------------------------------------------------------------------
            $('#getDoctorsButton').click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'GET',
                    url: '/api/doctor/',
                    beforeSend: function (xhr) {
                        var token = sessionStorage.getItem(tokenKey);
                        xhr.setRequestHeader("Authorization", "Bearer " + token);
                    },
                    success: function (data) {
                        alert(JSON.stringify(data));
                    },
                    fail: function (data) {
                        alert(data);
                    }
                });
            });
            $('#getPageDoctorsButton').click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'GET',
                    url: '/api/doctor/page/2/2',
                    success: function (data) {
                        alert(JSON.stringify(data));
                    },
                    fail: function (data) {
                        alert(data);
                    }
                });
            });
        });
        $('#getDoctor3Button').click(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'GET',
                url: '/api/doctor/3',
                beforeSend: function (xhr) {
                    var token = sessionStorage.getItem(tokenKey);
                    xhr.setRequestHeader("Authorization", "Bearer " + token);
                },
                success: function (data) {
                    alert(JSON.stringify(data));
                },
                fail: function (data) {
                    alert(data);
                }
            });
        });
        $('#getDoctorSpecializationsButton').click(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'GET',
                url: '/api/doctorSpecialization/',
                beforeSend: function (xhr) {
                    var token = sessionStorage.getItem(tokenKey);
                    xhr.setRequestHeader("Authorization", "Bearer " + token);
                },
                success: function (data) {
                    alert(JSON.stringify(data));
                },
                fail: function (data) {
                    alert(data);
                }
            });
        });
//------------------------------------------------------------------------
        var tokenKey = "tokenInfo";
        $('#submitLogin').click(function(e) {
            e.preventDefault();
            var loginData = {
                grant_type: 'password',
                username: $('#emailLogin').val(),
                password: $('#passwordLogin').val()
            };

            $('#logOut').click(function(e) {
                e.preventDefault();
                sessionStorage.removeItem(tokenKey);
                chechAuth();
            });
        });
    </script>
}
