<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
<div>
	<ul>
		<li>@Html.ActionLink("Управление странами", "Countries", "AdminMvc", new { area = "" }, null)</li>
	</ul>
	
</div>
</body>
</html>
